footer{
    background-color: #151616;
}
.footer ul{
    display: flex;
    list-style: none;
    width: 200px;
    margin: 0 auto;
    justify-content: center;
}
.footer li{
    margin: 10px;
}
.xd:hover{
     text-decoration: underline;
     transform: scale(1.2);    
}
​​.backstretch-item img{
    width:400px !important;
    height:400px !important;
    object-fit: fill !important;
    position:unset !important;
    }
.Titulo{
    text-align: center;
}
.btn{
    text-align: center;
}
.card img:hover{
    transform: scale(1.04); translate: (1px, 1px);
    transition: 1s;
}
.nav-link:hover{
    text-decoration: underline;
}
