footer{
    background-color: #151616;
}
.footer ul{
    display: flex;
    list-style: none;
    width: 200px;
    margin: 0 auto;
    justify-content: center;
}
.footer li{
    margin: 10px;
}
​​.backstretch-item img{
    width:400px !important;
    height:400px !important;
    object-fit: fill !important;
    position:unset !important;
    }
.Titulo{
    text-align: center;
}
.btn{
    text-align: center;
}